@media (max-width: 991px) {
    .headerUl{
        display: none !important;
    }
    .sm_sm_navbar{
        display: block !important;
    }
}
@media (max-width: 575px) {
    .navbar{
        .menav{
            display: none !important;
        }
    }
}